<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>STS - Halaman Utama</title>
    <link rel="stylesheet" href="/css/index.css">

</head>
<body>

<div class="login-container">
    <h2>Selamat Datang di STS</h2>
    <form id="loginForm">
        <label for="username">Username:</label>
        <input type="text" id="username" required autocomplete="off">
        
        <label for="password">Password:</label>
        <input type="password" id="password" required autocomplete="off">
        
        <div class="btn-group">
            <button type="submit" id="signInButton">Sign In</button>
            <a href="/signup" id="signUpButton">Sign Up</a> 
        </div>
    </form>
    
    <div id="message"></div>
</div>
    <script src="/js/index.js"></script>
</body>
</html>